@import "tailwindcss";

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-thumb::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thumb::-webkit-scrollbar-track {
    background: theme("colors.gray.200");
    /* Light gray */
  }

  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background: theme("colors.cyan.400");
    /* #12C8e3 */
    border-radius: 4px;
  }

  .scrollbar-thumb::-webkit-scrollbar-thumb:hover {
    background: theme("colors.cyan.400");
  }

  /* Custom background color */
  .bg-darkSlate {
    background-color: #14181b;
  }
    .bg-darkTeal {
      background-color: #132f42
    }
}